.container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    max-height: 80px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 24px 100px 0 100px;
    position: relative;
}

.navigation {
    display: flex;
    width: 234px;
    height: 56px;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    left: 50%;
    margin-left: -20px;
}


