.actions {
    position: relative;
    display: flex;
    width: 70px;
    height: 25px;
}
.separator {
    width: 22px;
}

.popupClosed {
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    width: 67px;
    text-align: center;
    cursor: pointer;
}

.vector {
    margin: 3px;
}

.cart {
    padding-top: 3px;
    position: relative;
    cursor: pointer;
}

.cartQuantity {
    position: absolute;
    top: -6px;
    left: 63px;
    z-index: 2;
}

.quantity {
    color: white;
    font-size: 14px;
    font-weight: 700;
    z-index: 3;
    position: absolute;
    top: -5px;
}