.actions {
    position: relative;
    display: flex;
    width: 60px;
    height: 25px;
}
.separator {
    width: 22px;
}

.popupClosed {
    font-size: 18px;
    width: 65px;
    text-align: center;
    cursor: pointer;
}

.cart {
    padding-top: 3px;
    position: relative;
    cursor: pointer;
}

.cartQuantity {
    position: absolute;
    top: -5px;
    left: 53px;
    z-index: 2;
}

.quantity {
    color: white;
    font-size: 14px;
    font-weight: 700;
    z-index: 3;
    position: absolute;
    top: -5px;
}