.actions {
    position: relative;
    display: flex;
    width: 60px;
    height: 25px;
    justify-content: space-between;
    /*border: 1px solid red;*/
}

.blockCurrencies{
    position:absolute;
    top: 15px;
    left: -41px;
    text-align: center;
}

.actionsItem {
    width: 33px;
    padding: 2px 15px;
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
    /*display: flex;*/
    /*justify-content: ;*/
}

.popupClosed {
    font-size: 18px;
    width: 60px;
    text-align: center;
}

.active {
    color: rgba(29, 207, 101, 1);
    background-color: #EEEEEE;
}

.cart {
    padding-top: 3px;
}