.container {
    width: 292px;
}
.sizes {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.sizeItem {
    width: 65px;
    height: 45px;
    border: 1px solid rgba(29, 31, 34, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
        color: white;
        background-color: rgba(29, 31, 34, 1);
}

.h5 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}