.container {
    width: 116px;
    box-sizing: border-box;
}

.h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.choiceColor {
    display: flex;
    box-sizing: border-box;
    margin-top: 8px;
    /*margin: 8px -5px 0 -5px ;*/
}

.choiceColorItem {
    width: 36px;
    height: 36px;
    /*margin-right: 4px;*/
    /*flex: 1 1 auto;*/
    /*margin: 0 5px;*/
    border: none;
}

.choiceColorItem + .choiceColorItem{
    margin-left: 6px;
}
.colorItem1 {
    background-color: rgba(211, 210, 213, 1);
}

.colorItem2 {
    background-color: rgba(43, 43, 43, 1);
}

.colorItem3 {
    background-color: rgba(15, 100, 80, 1);
}

