.container {
    background-color: white;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    max-height: 80px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 24px 100px 0 100px;
    border: 2px solid yellow;
}

.navigation {
    display: flex;
    width: 234px;
    height: 56px;
    justify-content: space-between;
    box-sizing: border-box;
}

.navigationItem {
    padding: 0 16px;
}
.logo {
    justify-content: center;
}

.actions {
    position: absolute;
    z-index: 3;
    display: flex;
    width: 200px;
    justify-content: end;
    border: 1px solid red;
}

.actionsItem {
    width: 38px;
    padding: 0 15px;
    margin-right: 20px;
}

