.categories {
    display: flex;
    width: 234px;
    height: 56px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
}

.categoriesItem {
    padding: 0 16px;
    font-weight: 600;
    list-style-type: none;
    text-transform: uppercase;
}

.active {
    color: rgba(29, 207, 101, 1);
    border-bottom: 2px solid rgba(29, 207, 101, 1);
}

a{
    text-decoration: none ;
}
