.categories {
    display: flex;
    width: 234px;
    height: 56px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
}

.categoriesItem {
    color: #1D1F22;
    padding: 0 16px;
    font-weight: 600;
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer;
}

.active {
    color:  #5ECE7B;
    border-bottom: 2px solid  #5ECE7B;
}

a{
    text-decoration: none ;
}
