.container {
    background-color: white;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    padding: 80px 220px 180px 100px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.blockImg {
    display: flex;
    flex-direction: column;
}

.blockImgItem {
    margin-bottom: 40px;
    object-fit: scale-down;
    cursor: pointer;
}

.blockGroup {
    display: flex;
    margin-left: 40px;
}

.groupImg {
    object-fit: contain;
    cursor: pointer;
}

.groupChoice {
    width: 292px;
    margin-left: 100px;
}

.attributes {
    margin-top: 40px;
    width: 292px;
}

.h5 {
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
}

.groupChoicePrice {
    margin-top: 36px;
}

.price {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}

.button {
    width: 100%;
    padding: 17px 0;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background-color: #5ECE7B;
    text-align: center;
    border: none;
    margin-top: 20px;
}

.description {
    margin-top: 40px;
    font-family: 'Roboto';
    font-weight: 400;
}

.titleBrand {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.titleName {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

.attributeName {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed';
    margin: 24px 0 0;
    list-style-type: none;
}

.attributeSize {
    width: 65px;
    height: 45px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
}

.attributeSize:last-of-type {
    margin-right: 0;
}

.attributeColor {
    width: 36px;
    height: 36px;
    font-size: 8px;
}

