.container {
    background-color: white;
    width: 1440px;
    margin: 0 auto;
    box-sazing: border-box;
    pading: 80px 100px 190px 100px;
    border: 1px solid red;
    position: relative;
    z-index: 1;
}

.containerCartOverlay {
    background-color: white;
    position: absolute;
    top: 0px;
    right: 72px;
}

.title {
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.productCards {
    margin-top: 100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: space-between;
}

