.blockCurrencies{
    padding: 0;
    position:absolute;
    top: 15px;
    left: -23px;
    z-index: 99;
    width: 114px;
}

.symbol {
    margin-right: 5px;
}

.active {
    background-color: #EEEEEE;
}

.currenciesItem {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}