.container {
    width: 325px;
    max-height: 100vh;
    box-sizing: border-box;
    padding: 32px 16px;
    overflow: auto;
    margin: 0 auto ;
}

.header {
    display: flex;
}

.totalCount {
    font-weight: 500;
}

.title {
    margin: 0 8px 0 0;
    font-weight: 700;
}

.content {
    margin: 32px 0;
}

.total {
    display: flex;
    justify-content: space-between;
}

.totalName {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.totalPrice {
    font-weight: 700;
}

.groupButton {
    height: 43px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.buttonViewBag {
    font-weight: 600;
    font-size: 14px;
    width: 140px;
    height: 43px;
}

.buttonCheckOut {
    font-weight: 600;
    font-size: 14px;
    width: 140px;
    color: white;
    background-color: #5ECE7B;
    border: none;
}


