.container {
    width: 325px;
    box-sizing: border-box;
    padding: 32px 16px;
    border: 1px solid yellowgreen;
    margin: 0 auto ;
}

.header {
    display: flex;
}

.totalCount {
    font-weight: 500;
}

.title {
    margin: 0 8px 0 0;
    font-weight: 700;
}

.content {
    margin: 32px 0;
}

.total {
    display: flex;
    justify-content: space-between;
}

.totalItem {
    font-weight: 500;
}

.groupButton {
    height: 43px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.buttonViewBag {
    width: 140px;
    height: 43px;
}

.buttonCheckOut {
    width: 140px;
    color: white;
    background-color: #5ECE7B;
    border: none;
}


